exportPattern("^[[:alpha:]]+")
S3method(Ops,weyl)
importFrom("disordR","elements")
import("spray")

S3method(print,weyl)
S3method("coeffs<-",weyl)

S3method(constant,weyl)
S3method("constant<-",weyl)
